*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 12px;
}

h1 {
  font-family: sans-serif;
  font-size:1em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  font-family: serif;
  font-size: 2em;

}

.container {
  display:flex;
  width: 375px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #DEDEDE;
  padding-top: 30px;
  margin: auto;

}

.preview {
  width: 375px;
  height: 370px;
  padding-top: 30px;
  padding-bottom: 300px:
  padding-right: 170px;
  padding-left:30px;
  margin-bottom: -20px;
}

.baku {
  background-image: url('/images/baku.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  margin-top: 20px;
  margin-bottom: 20px;


}

.london {
  background-image: url('/images/london.png');
  background-repeat: no-repeat;
  background-size:contain;
  margin-top: 20px;
  Margin-bottom: 20px;
}

.madrid{
  background-image: url('/images/madrid.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  margin-top: 20px;
  Margin-bottom: 20px;

}

.rome {
  background-image: url('/images/rome.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  margin-top: 20px;
  Margin-bottom: 20px;

}
